* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  height: 100vh;
  background: #dfe1dc;
  position: relative;
  z-index: -19;
}

.intro__inner {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20vh;
  z-index: 1000;
}

.intro__images {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.intro__images-top {
  position: absolute;
  top: 0;
  right: 20%;
  top: 5%;
  width: 300px;
  z-index: 1;
}

.intro__message h1 {
  font-size: 10em;
  font-weight: bold;
  color: #1d61af;
}

.intro__message h2 {
  font-size: 4em;
  font-weight: bold;
}

.intro__message h2 span {
  text-decoration: underline;
}

.intro__message {
  margin-bottom: 80px;
}

.intro__question {
  color: #696e6c;
  font-size: 2em;
}

.intro__list {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.intro__list-item {
  color: #8599af;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.intro__more a {
  color: blue;
  font-size: 1.5em;
  text-decoration: none;
}

.features {
  height: 100vh;
  background: #cbe3ff;
  z-index: -1;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.feature__images {
  width: 60%;
  position: relative;
  z-index: 1;
}

.sun {
  position: absolute;
  display: block;
  top: 0;
  z-index: 1000;
  max-width: 50%;
}

.lil {
  position: absolute;
  display: block;
  bottom: 5%;
  right: 40%;
  z-index: 150;
  max-width: 50%;
}

.mobile {
  position: absolute;
  width: 20%;
  height: 35%;
  border: 10px solid black;
  border-radius: 10%;
  bottom: 35%;
  right: 5%;
}

.feature__texts {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

.feature__header,
.feature__text {
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10%;
}

.work {
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
}

.work__header {
  font-size: 5em;
  font-weight: 500;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.work__cards {
  display: flex;
  justify-content: center;
}

.card {
  margin-right: 20px;
  text-align: center;
  width: 30%;
}

.card-title {
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.card-text {
  font-size: 1.5em;
}

.card-image {
  height: 40%;
  text-align: center;
  margin-bottom: 2em;
}

.card-image img {
  height: 100%;
  text-align: center;
}

.rectangle {
  display: inline-block;
  width: 30%;
  height: 100%;
  border: 5px solid black;
}
