* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  height: 100vh;
  background: red;

  &__inner {
    width: 80%;
    height: 100%;
    padding-left: 30%;
  }

  &__message {
    padding-top: 50vh;
  }
}
